bert-score==0.3.13
huggingface-hub==0.23.5
jieba==0.42.1
langchain==0.1.6
langchain-community==0.0.19
langchain-openai==0.0.6
llama-cpp-python==0.2.90
neo4j==5.18.0
numpy==1.26.4
pandas==2.2.3
PyYAML==6.0.1
rouge-score==0.1.2
sentence-transformers==3.0.1
torch==2.0.1
tqdm==4.65.0
transformers==4.42.4
